@use './variables';

@mixin hover-effect-sm {
  &:hover {
    transform: scale(1.02);
  }
}

@mixin hover-effect {
  &:hover {
    transform: scale(1.2);
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
