*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

.header {
  display: flex;
  padding: 20px 0;
}

.header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__content .header__content__logo {
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  justify-content: center;
}

.header__content nav {
  display: flex;
  font-size: 20px;
}

.header__content ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}

.header__content ul li a {
  text-decoration: none;
  color: gray;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
}

#title {
  background: url('/src/assets/coffee_background.jpg');
  background-size: cover;
  background-position: bottom;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.title__cover {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__content {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title__content h1 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.title__content h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.title__content p {
  font-weight: 400;
  margin-bottom: 20px;
}

.title__content button {
  font-weight: 400;
  padding: 20px;
}

.title__content span {
  font-weight: 600;
  letter-spacing: 3px;
}

.features {
  display: flex;
  flex-direction: column;
}

.featured__title {
  margin: auto;
  font-weight: 700;
  margin-bottom: 20px;
}

.features__image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.features__image img {
  height: 540px;
  width: 460px;
}

.products {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.products__title {
  font-weight: 700;
  margin: auto;
  margin-bottom: 20px;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products__list img {
  width: 33vw;
  height: auto;
  object-fit: cover;
}

.subscription {
  width: 100%;
  height: 300px;
  background-color: #1d1f2e;
  color: white;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscription .subscription__text {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.subscription .subscription__title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.subscription .subscription__input {
  display: flex;
  justify-content: center;
}

.subscription .subscription__input input {
  background-color: transparent;
  padding: 15px;
  border-style: solid;
  border-color: white;
  border: 0.1px solid white;
}

.subscription .subscription__input input::placeholder {
  font-size: 12px;
  font-weight: 900;
}

.subscription .subscription__input button {
  background-color: white;
  padding: 15px;
}

.subscription .subscription__input span {
  font-weight: 700;
}

.footer {
  height: 20vh;
  color: black;
}

.footer .footer__address {
  font-weight: 700;
  margin-left: 30vw;
  margin-top: 10vh;
  font-size: 1.25rem;
}
